@{
    ViewData["Title"] = "Acesso negado";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Você não tem acesso a este recurso.</h3>
        </div>
    </div>
</div>