@{
    ViewData["Title"] = "Confirmar e-mail";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Obrigado por confirmar seu e-mail.</h3>
        </div>
    </div>
</div>