@{
    ViewData["Title"] = "Confirmar notificação por e-mail";
}




<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Enviamos uma confirmação por e-mail para seu endereço de e-mail registrado.</h3>
            <h4>Siga as instruções de e-mail para ativação da conta.</h4>
        </div>
    </div>
</div>