@{
    ViewData["Title"] = "Esqueci a confirmação da senha";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Por favor, verifique seu e-mail para redefinir sua senha.</h3>
        </div>
    </div>
</div>