@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "MunhavaEstoque - Login";
}

<div class="login-box">
    
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            <a href="/"><b>Nicol</b>Estoque</a>
        </div>
        <p class="login-box-msg">Faça login para iniciar sua sessão</p>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group has-feedback">
                <label asp-for="Email">Informe o seu Email</label>
                <input asp-for="Email" type="email" value="super@admin.com" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="Password">Informe a sua Senha</label>
                <input asp-for="Password" type="password" value="123456" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-6">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="RememberMe">  @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                </div>
                <!-- /.col -->
            </div>
          
            <!-- /.social-auth-links -->
            <a asp-action="ForgotPassword">Esqueci a minha senha</a><br>
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center">Registar uma nova associação</a>
            <!-- <p class="pull-right">
                <span style="font-style:italic;"><small>*Demo => Email: super@admin.com Password: 123456</small></span>
            </p> -->
        </form>


    </div>
    <!-- /.login-box-body -->
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
}
