@{
    ViewData["Title"] = "Redefinir confirmação de senha";
}


<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
           <h3>Sua senha foi redefinida. Por favor, <a asp-action="Login">clique aqui para fazer login</a>.</h3>
        </div>
    </div>
</div>