@{
    ViewData["Title"] = "Assinado";
}


<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
           <h3>Você saiu com sucesso.</h3>
        </div>
    </div>
</div>