@{
    ViewData["Title"] = "Gere códigos de recuperação de autenticação de dois fatores (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
      <strong>Esta ação gera novos códigos de recuperação.</strong>
    </p>
    <p>
        Se você perder seu dispositivo e não tiver os códigos de recuperação, perderá o acesso à sua conta.
    </p>
    <p>
        A geração de novos códigos de recuperação não altera as chaves usadas nos aplicativos autenticadores. Se você deseja alterar a chave
        usado em um aplicativo de autenticação, você deve <a asp-action="ResetAuthenticatorWarning">redefinir suas chaves de autenticação.</a>
    </p>
</div>

<div>
    <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Gerar códigos de recuperação</button>
    </form>
</div>
