@{
    ViewData["Title"] = "Redefinir a chave do autenticador";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
   <strong>Se você redefinir sua chave de autenticação, seu aplicativo de autenticação não funcionará até que você a reconfigure.</strong>
    </p>
    <p>
        Esse processo desativa o 2FA até que você verifique seu aplicativo autenticador e também redefinirá seus códigos de recuperação 2FA.
        Se você não concluir a configuração do aplicativo autenticador, poderá perder o acesso à sua conta.
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Redefinir a chave do autenticador/button>
    </form>
</div>